html {
    font-family: Audiowide;
}

* {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=48830), default !important;
}

a:hover {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1049.cur), default !important;
}

.project:hover,
.Name:hover,
.long:hover {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1049.cur), default !important;
}


a {
    text-decoration: none;
}

#candy {
    padding-top: 130px;
    margin: 0 auto;
}

#wrapper,
.wrapper {
    margin: 0 auto;
}

#home {
    padding: 55px;
}

.projects {
    display: flex;
}

.project {
    margin-right: 64px;
    background-color: #00000095;
    margin-top: 35px;
    padding: 16px;
    border-radius: 13px;
    width: 189px;
}

.long {
    margin-left: 50px;
}

.project img {
    width: 90px;
    height: 92px;
    border-radius: 13px;
    text-align: center;
}

#jersey {
    font-size: 35px;
    font-family: Audiowide;
    color: white;
    border-bottom: 2px ridge white;
    text-shadow: 2px 2px #0000004a;
    margin-bottom: 40px;
}

.shore {
    font-size: 20px;
    font-family: Audiowide;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px #0000004a;
}

.nr {
    float: left;
    width: 700px;
    margin-right: 20px;
}

#ex {
    text-align: left;
    color: #8800ff;
    margin-right: auto;
    font-size: 250%;
}

.navy {
    list-style-type: none;
    background-color: black;
    padding: 20px;
    margin: 0%;
    border-bottom: ridge #8800ff;
}

.darknavy {
    padding-top: 15px;
    float: right;
    position: sticky;
}

.darknavy a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: outset;
    background-color: #8800ff;
    border-color: #8800ff;
}

.darknavy a:hover {
    border-style: inset;
    background-color: #7900e3;
}

#pew {
    font-size: 35px;
    color: white;
    border-bottom: 2px ridge white;
    text-shadow: 2px 2px #0000004a;
    height: 45px;
    width: 605px;
}

#pp {
    font-size: 35px;
    color: white;
    border-bottom: 2px ridge white;
    text-shadow: 2px 2px #0000004a;
    height: 50px;
}

#pewpew {
    font-size: 35px;
    font-family: Audiowide;
    color: white;
    text-shadow: 2px 2px #0000004a;
    margin-bottom: 40px;
    border-bottom: 2px ridge white;
}

.AMR-2 {
    color: white;
    border-style: outset;
    border-color: white;
    text-decoration: none;
    text-shadow: 2px 2px #0000004a;
    padding: 5px;
}

.AMR-2:hover {
    color: #8800ff;
    border-style: inset;
    border-color: #8800ff;
}

#honeybadger {
    font-size: 20px;
    color: white;
    width: 600px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-shadow: 2px 2px #0000004a;
}

.honeybadger {
    font-size: 20px;
    font-family: Audiowide;
    color: white;
    width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px #0000004a;
}

.honeybadger img {
    width: 35px;
    height: 35px;
    padding: 5px;
}

body {
    background: linear-gradient(-45deg, black, #8800ff, #4e0092, black);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


#possum {
    width: 200px;
    height: 200px;
    background-image: url(nosa2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: black 2px solid;
    border-radius: 13px;
}

#nr {
    font-size: 20px;
    color: #8800ff;
    background-color: black;
    border-style: ridge;
    border-color: #8800ff;
    width: 20%;
    text-align: center;
}


.Name {
    font-size: 20px;
    color: white;
    padding-bottom: 15px;
    text-shadow: 2px 2px #0000004a;
    width: fit-content;
    margin-bottom: 6px;
}

.short {
    margin-left: 30px;
}

.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
    float: left;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #0000004a;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: black;
}

.text {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #333333;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#m249,
#m250 {
    border-top: 2px solid #8800ff;
    color: #8800ff;
    background-color: black;
    padding-left: 65px;
    padding-top: 2px;
}

@media screen and (min-width:770px) {

    .ccontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 155px 1px 250px 265px 20px;
        gap: 0px 0px;
    }

    .containerr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 155px 1px 300px 360px 20px;
        gap: 0px 0px;
    }

    .navy {
        grid-area: 1 / 1 / 2 / 8;
        display: flex;
        align-items: center;
    }

    .darknavy {
        margin-right: 5px;
    }

    #wrapper,
    #candy,
    .wrapper {
        grid-area: 3 / 2 / 4 / 7;
    }

    #candy {
        width: 900px;
    }

    #wrapper,
    .wrapper {
        width: 800px;
        margin-top: 130px;
        height: fit-content;
    }

    #pp {
        width: 800px;
    }

    #possum {
        position: relative;
        left: 670px;
        bottom: 180px;
    }

    #nr {
        position: relative;
        left: 690px;
        bottom: 195px;
    }

    .nr {
        margin-bottom: 130px;
    }

    .AMR-2 {
        margin-right: 150px;
    }

    #ex {
        margin-left: 50px;
    }

    .reveal {
        display: none;
    }

    #m250,
    #m249 {
        grid-area: 6 / 1 / 7 / 8;
    }

    .projects {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #posmobile,
    #nrmobile {
        display: none;
    }
}

@media screen and (max-width:770px) and (min-width:600px) {

    .ccontainer,
    .containerr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
    }

    .navy {
        grid-area: 1 / 1 / 2 / 8;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px 10px 55px;
    }

    .darknavy {
        margin-right: 60px;
    }

    #candy,
    #wrapper,
    .wrapper {
        grid-area: 2 / 1 / 7 / 8;
    }

    #wrapper {
        margin-top: 50px;
        width: 590px;
        height: 535px;
    }

    .wrapper {
        margin-top: 75px;
        width: 590px;
        height: 460px;
    }

    #candy {
        width: 600px;
        height: 775px;
    }

    #m250,
    #m249 {
        grid-area: 7 / 1 / 8 / 8;
    }

    #pew {
        margin-left: 315px;
        margin-top: 55px;
        width: 260px;
    }

    #ex {
        margin-right: 50px;
    }

    #possum {
        position: relative;
        bottom: 236px;
    }

    #nr {
        position: relative;
        bottom: 253px;
        left: 42px;
    }

    .slideshow-container {
        margin-left: 210px;
    }

    .nr {
        width: 600px;
        margin-bottom: 28px;
    }

    #honeybadger {
        width: 265px;
        padding-left: 315px;
    }

    #AMR-1 {
        margin-left: 315px;
    }

    #pp {
        width: 605px;
    }

    .projects {
        flex-wrap: wrap;
    }

    .reveal {
        display: none;
    }

    #posmobile,
    #nrmobile {
        display: none;
    }
}

@media screen and (max-width:600px) {

    .ccontainer,
    .containerr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
    }

    .darknavy {
        display: none;
    }

    #candy,
    #wrapper,
    .wrapper {
        grid-area: 3 / 1 / 7 / 8;
    }
    #candy{
        padding-top: 50px;
        width: 300px;
        height: 500px;
    }
    #jersey{
        font-size: 26px;
    }
    .shore{
        font-size: 15px;
    }

    #ex {
        font-size: 190%;
    }

    #pew {
        margin: 20px 0px 10px 95px;
        width: 94px;
        font-size: 30px;
        height: 35px;
    }

    #honeybadger {
        width: 295px;
        font-size: 18px;
        text-align: center;
        padding: 10px 0px 30px 0px;
    }

    #posmobile {
        width: 150px;
        height: 150px;
        margin-left: 65px;
        background-image: url(nosa2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border: black 2px solid;
        border-radius: 13px;
    }

    #nrmobile {
        font-size: 20px;
        color: #8800ff;
        background-color: black;
        border-style: ridge;
        border-color: #8800ff;
        width: 45%;
        text-align: center;
        position: relative;
        bottom: 15px;
        left: 73px;
        transform: scale(0.8);
    }
    #AMR-1{
        margin-left: 45px;
    }


    #nr,
    #possum {
        display: none;
    }

    #m250,
    #m249 {
        grid-area: 7 / 1 / 8 / 8;
        padding-left: 20px;
    }

    .navy {
        grid-area: 1 / 1 / 3 / 8;
    }

    .reveal {
        position: relative;
        top: 145px;
        display: inline-block;
        grid-area: 1 / 1 / 3 / 8;
    }

    .revealbutton {
        background-color: #8800ff;
        border: 2px outset #4e0092;
        width: 115px;
        height: 55px;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    .revealbutton:active {
        border: #4e0092 inset;
        background-color: #7900e3;
    }

    .revealcontent {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 10px 5px 10px 0px #00000033;
        z-index: 1;
        margin-left: 20px;
    }

    .revealcontent a {
        display: block;
        padding: 12px 16px;
        border: #8800ff 1px ridge;
        color: white;
    }


    .show {
        display: block;
    }
}