html {
    font-family: Audiowide;
}

* {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=48830), default !important;
}

a:hover {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1049.cur), default !important;
}

.project:hover,
.Name:hover,
.long:hover,
.short:hover {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1049.cur), default !important;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 155px 1px 300px 1fr 20px;
    gap: 0px 0px;
}

a {
    text-decoration: none;
}

#candy {
    grid-area: 3 / 2 / 4 / 7;
    padding-top: 130px;
    width: 900px;
    margin: 0 auto;
}

#wrapper {
    grid-area: 3 / 2 / 4 / 7;
    width: 800px;
    margin: 0 auto;
    margin-top: 130px;
    height: fit-content;

}

#home {
    padding: 55px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.project {
    margin-right: 64px;
    background-color: #00000095;
    margin-top: 35px;
    margin-left: 10px;
    padding: 16px;
    border-radius: 13px;
}

.long {
    margin-left: 19px;
}

.short {
    margin-left: 10px;
}

.project img {
    width: 90px;
    height: 92px;
    border-radius: 13px;
    text-align: center;
}

#jersey {
    font-size: 35px;
    font-family: Audiowide;
    color: white;
    border-bottom: 2px ridge white;
    text-shadow: 2px 2px #0000004a;
    margin-bottom: 40px;
}

.shore {
    font-size: 20px;
    font-family: Audiowide;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px #0000004a;
}

.nr {
    float: left;
    width: 700px;
    margin-right: 20px;
    margin-bottom: 130px;
}

#ex {
    text-align: left;
    color: #8800ff;
    margin-left: 50px;
    margin-right: auto;
    font-size: 250%;
}

.navy {
    list-style-type: none;
    display: flex;
    background-color: black;
    padding: 20px;
    margin: 0%;
    border-bottom: ridge #8800ff;
    align-items: center;
    grid-area: 1 / 1 / 2 / 8;
}

.darknavy {
    padding-top: 15px;
    float: right;
    position: sticky;
    margin-right: 5px;
}

.darknavy a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: outset;
    background-color: #8800ff;
    border-color: #8800ff;
}

.darknavy a:hover {
    border-style: inset;
    background-color: #7900e3;
}

#pew {
    font-size: 35px;
    color: white;
    border-bottom: 2px ridge white;
    text-shadow: 2px 2px #0000004a;
    height: 50px;
    width: 630px;
}

#pp {
    font-size: 35px;
    color: white;
    border-bottom: 2px ridge white;
    text-shadow: 2px 2px #0000004a;
    height: 50px;
    width: 800px;
}

#pewpew {
    font-size: 35px;
    font-family: Audiowide;
    color: white;
    text-shadow: 2px 2px #0000004a;
    margin-bottom: 40px;
    border-bottom: 2px ridge white;
}

#AMR-2 {
    color: white;
    border-style: outset;
    border-color: white;
    text-decoration: none;
    padding-right: 4px;
    text-shadow: 2px 2px #0000004a;
}

#AMR-2:hover {
    color: #8800ff;
    border-style: inset;
    border-color: #8800ff;
}

#honeybadger {
    font-size: 20px;
    color: white;
    width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px #0000004a;
}

.honeybadger {
    font-size: 20px;
    font-family: Audiowide;
    color: white;
    width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px #0000004a;
}

.honeybadger img {
    width: 35px;
    height: 35px;
    padding: 5px;
}

body {
    background: linear-gradient(-45deg, black, #8800ff, #4e0092, black);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


#possum {
    position: relative;
    left: 650px;
    bottom: 180px;
    width: 200px;
    height: 200px;
    background-image: url(nosa2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#nr {
    position: relative;
    left: 665px;
    bottom: 200px;
    font-size: 20px;
    color: #8800ff;
    background-color: black;
    border-style: ridge;
    border-color: #8800ff;
    width: 20%;
    text-align: center;
}


.Name {
    font-size: 20px;
    color: white;
    padding-bottom: 15px;
    text-shadow: 2px 2px #0000004a;
    width: fit-content;
    margin-bottom: 6px;
}

.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
    float: left;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    width: 140px;
    height: 200px;
    object-fit: cover;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #0000004a;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: black;
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #333333;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#m249 {
    border: 2px solid #8800ff;
    color: #8800ff;
    position: relative;
    top: 7px;
    grid-area: 6 / 1 / 7 / 8;
    background-color: black;
    padding-left: 48px;
}