html {
    font-family: Audiowide;
}

* {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=48830), default !important;
}

a:hover {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1049.cur), default !important;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 155px 1fr 1fr 1fr 20px;
    gap: 0px 0px;
}

a {
    text-decoration: none;
}

#wrapper {
    grid-area: 3 / 2 / 4 / 7;
    width: 800px;
    margin: 0 auto;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.project {
    margin-right: 64px;
    background-color: #00000095;
    margin-top: 35px;
    margin-left: 10px;
    padding: 16px;
    border-radius: 13px;
}

.project img {
    width: 90px;
    height: 92px;
    margin-left: 10px;
    border-radius: 13px;
}

#ex {
    text-align: left;
    color: #8800ff;
    margin-left: 50px;
    margin-right: auto;
    font-size: 250%;
}

.navy {
    list-style-type: none;
    display: flex;
    background-color: black;
    padding: 20px;
    margin: 0%;
    border-bottom: ridge #8800ff;
    align-items: center;
    grid-area: 1 / 1 / 2 / 8;
}

.darknavy {
    padding-top: 15px;
    float: right;
    position: sticky;
    margin-right: 5px;
}

.darknavy a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: outset;
    background-color: #8800ff;
    border-color: #8800ff;
}

.darknavy a:hover {
    border-style: inset;
    background-color: #7900e3;
}

#pp {
    font-size: 35px;
    color: white;
    border-bottom: 2px ridge white;
    text-shadow: 2px 2px #0000004a;
    height: 50px;
}

#AMR-2 {
    color: white;
    border-style: outset;
    border-color: white;
    text-decoration: none;
    padding-right: 4px;
    text-shadow: 2px 2px #0000004a;
}

#AMR-2:hover {
    color: #8800ff;
    border-style: inset;
    border-color: #8800ff;
}

#honeybadger {
    font-size: 20px;
    color: white;
    width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px #0000004a;
}

body {
    background: linear-gradient(-45deg, black, #8800ff, #4e0092, black);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


#possum {
    position: relative;
    left: 650px;
    bottom: 180px;
    max-width: 100px;
}

#nr {
    position: relative;
    left: 665px;
    bottom: 200px;
    font-size: 20px;
    color: #8800ff;
    background-color: black;
    border-style: ridge;
    border-color: #8800ff;
    width: 20%;
    text-align: center;
}

.tegel {
    background-color: black;
    z-index: 100;
    width: 150px;
    height: 150px;
}

.Name {
    font-size: 20px;
    color: white;
    padding-bottom: 15px;
    text-shadow: 2px 2px #0000004a;
    width: fit-content;
    margin-bottom: 6px;
}

.long {
    margin-left: 19px;
}

#m249 {
    border: 2px solid #8800ff;
    color: #8800ff;
    position: relative;
    top: 7px;
    grid-area: 6 / 1 / 7 / 8;
    background-color: black;
    padding-left: 48px;
}